<h3>Form example:</h3>
<form ngrxForm [formSummary$]="formGroup$" (formUpdate)="updateFormGroup($event)">
    <div>
        <input type="text" ngrxControl="textInput" />
        <input type="number" ngrxControl="numberInput" />
        <input type="range" ngrxControl="rangeInput" />
        <input type="checkbox" ngrxControl="checkboxInput" />
        <app-custom-input ngrxControl="customInput"></app-custom-input>
    </div>
</form>

<h3>Single example:</h3>
<input ngrxControl [controlSummary$]="singleInput$" (controlUpdate)="updateSingleInput($event)" />
